{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 mx-md-4">
                    <h2>Posts about {{ .Title }}</h2>
                    <hr>
                    <ul>
                        {{ range .Data.Pages.ByPublishDate }}
                        {{ partial "list" . }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}